# Basic Information
BOT_TOKEN=REPLACE

# Dev
GUILD_ID=REPLACE
CHANNEL_ID=REPLACE
CLIENT_ID=REPLACE

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=PASSWORD
DB_NAME=improvement_bot

# Environment
NODE_ENV=development
